<!-- <p-button label="Cerrar sesión"
          type="submit"
          severity="danger"
          (click)="logout()" /> -->

<p-sidebar [(visible)]="sidebarVisible"
           [style]="{ width: '300px' }"
           [modal]="true"
           [baseZIndex]="10000">
    <p-menu [model]="items"
            styleClass="w-full md:w-15rem">
        <ng-template pTemplate="start">
            <span class="inline-flex align-items-center justify-content-center gap-1 px-2 py-2 w-full">
                <span class="font-medium text-xl font-semibold text-center">
                    Menu
                </span>
            </span>
        </ng-template>
        <ng-template pTemplate="submenuheader"
                     let-item>
            <span class="text-primary font-bold">{{ item.label }}</span>
        </ng-template>
        <ng-template pTemplate="item"
                     let-item>
            <a pRipple
               class="flex align-items-center p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
                @if (item.badge) {
                <p-badge class="ml-auto"
                         [value]="item.badge" />
                }
                @if (item.shortcut) {
                <span class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">
                    {{ item.shortcut }}
                </span>
                }
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <button pRipple
                    class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                          class="mr-2"
                          shape="circle" />
                <span class="inline-flex flex-column">
                    <span class="font-bold">{{emailUser}}</span>
                    <!-- <span class="text-sm">Admin</span> -->
                </span>
            </button>
        </ng-template>
    </p-menu>
</p-sidebar>

<div class="p-d-flex p-ai-center p-jc-start">
    <p-button (onClick)="sidebarVisible = true"
              icon="pi pi-bars"
              class="p-button-outlined"></p-button>
</div>