<div class="flex justify-center items-center h-screen">
    <div class="w-full h-1/2 md:h-full hidden md:block">
        <img class="object-cover w-full h-full"
             src="assets/inicio.png"
             alt="Imagen no encontrada">
    </div>

    <div class="w-full md:w-1/2 flex justify-center items-center">
        <div class="w-3/4 text-center">
            <img class="w-40 h-40 mx-auto mb-4"
                 src="assets/icon.png"
                 alt="Ícono">

            <h1 class="text-3xl font-bold mb-6">Inicio de sesión</h1>

            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-user" />
                <input type="text"
                       pInputText
                       placeholder="Email" />
            </p-iconField>

            <div class="mt-3">
            </div>
            <p-iconField iconPosition="left"
                         class="">
                <p-inputIcon styleClass="pi pi-eye" />
                <input type="text"
                       pInputText
                       placeholder="Password" />
            </p-iconField>

            <div class="mt-5">
                <p-button label="Iniciar sesión"
                          [outlined]="true"></p-button>
            </div>




            <h4>Recordar contraseña</h4>
        </div>
    </div>
</div>